/.vs
/node_modules/jquery/dist/jquery.js
/node_modules/jquery/dist/jquery.slim.min.map
/node_modules/jquery/dist/jquery.slim.min.js
/node_modules/jquery/dist/jquery.slim.js
/node_modules/jquery/dist/jquery.min.map
/node_modules/jquery/dist/core.js
/node_modules/jquery/external/sizzle
/node_modules/jquery/src
/node_modules/jquery/README.md
/node_modules/jquery/package.json
/node_modules/jquery/LICENSE.txt
/node_modules/jquery/bower.json
/node_modules/jquery/AUTHORS.txt
/node_modules/papaparse/player
/node_modules/papaparse/tests
/node_modules/papaparse/papaparse.js
/node_modules/papaparse/package.json
/node_modules/papaparse/LICENSE
/node_modules/papaparse/Gruntfile.js
/node_modules/papaparse/bower.json
/node_modules/papaparse/.travis.yml
/node_modules/papaparse/.npmignore
/node_modules/papaparse/README.md
/package-lock.json
